pynubank==2.24.0
pyitau @ git+https://github.com/andreroggeri/pyitau.git@528d8249a742f8d3a9bef4749ebd7e054a177351

ynab_sdk==0.5.0
inquirer==2.8.0
python-dateutil==2.8.2

pytest==6.2.5
pytest-cov==2.11.1
coveralls==3.0.1
tox==3.23.0
tox-gh-actions==2.5.0