pynubank==2.13.0
git+git://github.com/andreroggeri/pybradesco.git@2ac4a2b6037714872777091af5cc8ab952b121ff
git+git://github.com/andreroggeri/python-alelo.git@a03cf8d483ffe40eeac4d00030e0d913e569cb70
git+git://github.com/andreroggeri/pynuinvest.git
PyJWT==2.2.0

ynab_sdk==0.2.4
inquirer==2.7.0

pytest==6.2.3
pytest-cov==2.11.1
coveralls==3.0.1
tox==3.23.0
tox-gh-actions==2.5.0